/* Typeface */
@import url('css\fonts');

@font-face {

    font-family: 'Bevellier-Variable';
    src: url();
}

/* Body */
body{
    margin: 80px 40px 80px 40px;
}

/*Navigation*/
nav{
    display: flex;
     justify-content:space-between ;

  }

  /* Links */
  a{
      text-decoration: none;
      /* advanced text properties */

  }
  
  /* Buttons */
  .button{
      /* Border */
      border: 2px solid #000000;
      box-sizing: border-box;
      border-radius: 10px;
      /* Padding */
     padding-top: .2em; 
       padding-bottom: .2em; 
      padding-left: 4em;
      padding-right: 4em;
      /* text */
      text-align: center;  
  }